<main>
  <h1>Create</h1>
  <div class="form">
    <form method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value={{#if name}}{{name}}{{/if}}>
      <label for="name">Description</label>
      <textarea id="name" name="description">{{#if description}}{{description}}{{/if}}</textarea>
      <label for="image">ImageUrl</label>
      <input type="text" id="image" name="imageUrl" value={{#if imageUrl}}{{imageUrl}}{{/if}}>
      <label for="difficulty">Difficulty</label>
      <select id="difficulty" name="difficulty">
        {{#each difficulties}}
        <option value="{{value}}" {{#if selected }} selected="{{selected}}" {{/if}}>{{text}}</option>
        {{/each}}
      </select>
      <input type="hidden" value="{{creatorId}}" name="creatorId">
      <input type="submit" value="Create">
    </form>
  </div>
</main>