<main>
    <h1>Delete Cube</h1>
    <div class="form">
        <form method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{name}}" disabled="true" />
            <label for="description">Description</label>
            <textarea id="description" name="description" disabled="true">{{description}}</textarea>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl" value="{{imageUrl}}" disabled="true" />
            <label for="difficulty">Difficulty</label>
            <select id="difficulty" name="difficulty" disabled="true" />
                {{#each difficulties}}
                <option value="{{value}}" {{#if selected }} selected="{{selected}}" {{/if}}>{{text}}</option>
                {{/each}}
            </select>
            <input type="hidden" value="{{creatorId}}" name="creatorId">
            <input type="submit" value="Delete">
        </form>
    </div>
</main>